In [41]:
import pandas as pd

# Sample dataset (make sure your date column is in datetime format)
data = pd.read_csv('input\Dollar_Rial_Price_Dataset.csv')
df = data.copy() # Ensure 'Date' is in datetime format
df['Date'] = pd.to_datetime(df['Date'])
df['Close'] = df['Close'].str.replace(',', '')
df['Close'] = df['Close'].astype('int')
# List of presidency date ranges
presidency_periods = [
    {'president': 'Ahmadinejad', 'start': '2005-08-03', 'end': '2013-08-03'},
    {'president': 'Rouhani', 'start': '2013-08-04', 'end': '2021-08-03'},
    {'president': 'Raisi', 'start': '2021-08-04', 'end': '2024-05-19'}
]

# Add a new column for presidents
def get_president(date):
    for period in presidency_periods:
        if (pd.to_datetime(period['start']) <= date <= pd.to_datetime(period['end'])):
            return period['president']
    return 'Unknown'

df['President'] = df['Date'].apply(get_president)

In [34]:

# data['Close'] = data

In [42]:
grouped_mean = df.groupby('President')['Close'].idxmax()
df.loc[grouped_mean]

,Unnamed: 0,Date,Persian_Date,Open,Low,High,Close,President
347,347,2013-01-31,1391/11/12,"37,800","37,800","38,900",38900,Ahmadinejad
3257,3257,2023-05-01,1402/02/11,"548,860","548,800","555,600",550510,Raisi
2627,2627,2020-10-18,1399/07/27,"317,030","316,950","320,060",318560,Rouhani

In [40]:
rouhani_df = df[df['President'] == 'Rouhani']
rouhani_df.groupby('President')['Close'].max()

President
Rouhani    99900
Name: Close, dtype: object

In [43]:
import pandas as pd

# Sample dataset
data = {'DollarPrice': [25000, 300000, 4500000, 55000]}
df = pd.DataFrame(data)

# Convert the 'DollarPrice' column to int (or ensure it's numeric)
df['DollarPrice'] = df['DollarPrice'].astype(int)

# Use Python's string formatting to add commas
df['DollarPrice_with_commas'] = df['DollarPrice'].apply(lambda x: "{:,}".format(x))

print(df)

   DollarPrice DollarPrice_with_commas
0        25000                  25,000
1       300000                 300,000
2      4500000               4,500,000
3        55000                  55,000